**/SMIC/weights_late_microexpfusenet/
**/SMIC/numpy_validation_datasets/
**/SMIC/numpy_training_datasets/
**/SAMM/weights_SAMM/
**/SAMM/numpy_validation_datasets/
**/SAMM/numpy_training_datasets/
**/CAS(ME)2/weights_SAMM/
**/CAS(ME)2/numpy_validation_datasets/
**/CAS(ME)2/numpy_training_datasets/
